---
layout: page
title: Pages 
header: Pages
group: navigation
---
{% include JB/setup %}

<div class="bodybg">
<div class="container clear">
<header id="siteHeader">
  <div class="headerDescription">
    <p class="visibleH1"><a href="#" title="For the Home Blogs">Blog</a></p>
    <p class="visibleH2">Posts, tutorials, tips &amp; snippets about web design and social media. </p><p>
  </p></div>
</header>
</div>

<div class="container-narrow">
  <div class="content">
  	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
	</div>
    <ol class="breadcrumb alert-info">
	  <li><a href="index.html"><span class="glyphicon glyphicon-home"></span></a></li>
	  <li class="active">Pages</li>
	</ol>
	<h2>All Pages</h2>
	<ul>
	{% assign pages_list = site.pages %}
	{% include JB/pages_list %}
	</ul>  
   </div>
  <hr />
</div>
</div>