---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<div class="container clear">
<header id="siteHeader">
  <div class="headerDescription">
    <p class="visibleH1"><a href="#" title="For the Home Blogs">Blog</a></p>
    <p class="visibleH2">Posts, tutorials, tips &amp; snippets about web design and social media. </p><p>
  </p></div>
</header>
</div>

<div class="container-narrow">
  <div class="content">
  	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
	</div>
<ol class="breadcrumb alert-info">
	  <li><a href="index.html"><span class="glyphicon glyphicon-home"></span></a></li>
	  <li class="active">Tags</li>
	</ol>

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>


{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}
</div>
<hr />
</div>